<header>単語一覧/<a href="http://0.0.0.0:3000/words/new">単語追加</a>/<a href="http://0.0.0.0:3000/words/search">単語検索</a></header>

<h1>単語一覧</h1>
<% @word.each do |word| %>
  <a href="http://0.0.0.0:3000/words/show/<%= word.alphabet %>"><h2><%= word.name %></h2></a>
  <div>ジャンル:<%= word.genre %></div>
<% end %>
